.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    font-size: $default-font-size;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }
}
